ul#media {
    margin-top: 50px;
}

ul#media li {
    width: 200px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    *display: inline;
    *zoom: 1;
}

#category-menu {
    margin: 25px;
}

#category-menu a {
    margin: 15px;
}

body {
    background-color: #1E1E1E;
    color: silver;
    text-align: center;
    font-family: Arial;
}

a {
    color: silver;
    text-decoration: none;
}

.cover-small {
    margin: auto;
    left:0; right:0;
    display: block;
    max-width:120px;
    max-height:180px;
    width: auto;
    height: auto;
}

#search {
    margin: auto;
    left:0; right:0;
    padding: 2px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    display: block;
    width: 50%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
}
#search:focus {
    outline: none;
}