.container #container {
    position: absolute;
    width: 100%;
}

#torrent-control {
    margin-bottom: 10px;
}

#media-control {
    display: none;
}

ul#media {
    margin-top: 75px;
    margin-bottom: 300px;
}

ul#media li {
    width: 225px;
    height: 225px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    *display: inline;
    *zoom: 1;
}

#media-img {
    max-height: 200px;
    max-width: 200px;
}

ul#media img {
    max-height: 200px;
    max-width: 200px;
}
#body {
    background-color: #1E1E1E;
    color: silver;
    text-align: center;
    font-family: Arial;
}

ul#media a {
    color: #9d9d9d;
    text-decoration: none;
}

.cover-small {
    margin: auto;
    left:0; right:0;
    display: block;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}