doctype html
html
    head
        title PiFlix
        link(href='/css/style.css', rel='stylesheet')
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel='stylesheet')

        script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='../js/movieOverview.js')
    body
        div
            h1 PiFlix
            h2 Sorry, not yet implemented
            p The TV-Show functionality is still under construction.
            p It's not yet possible to show details of a tv-show, nor playing episodes of a tv show.
